/dist
/tmp
/out-tsc
./app/server/data
# dependencies
node_modules
frontendchallenge-app/node_modules
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
# System Files
.DS_Store
Thumbs.db
