<div class="title">
    <h2>
        Google's Original Dataviz
    </h2>
</div>
<div class="categories_volumes">

    <div class="home col-xl-4 col-lg-12 col-md-12 col-sm-12">
        <h5 class="categories_title">
            Categories of the online demand
        </h5>
        <accordion isAnimated="true" closeOthers="true">
            <div *ngFor="let entities of arrayCategories">
                <accordion-group #entitiesBloc class="entities_blocs" *ngIf="entities.isopen" isOpen="true">
                    <h4 (click)="sendVolumeId(entities, 1)" id="{{entities.id}}" accordion-heading>
                        {{entities.name}}
                    </h4>
                    <accordion isAnimated="true" closeOthers="true">
                        <div *ngFor="let categories of entities.children">
                            <accordion-group *ngIf="categories.isopen" isOpen="true">
                                <h5 (click)="sendVolumeId(categories, 2)" id="{{categories.id}}" accordion-heading>
                                    {{categories.name}}
                                </h5>
                                <div *ngFor="let category of categories.children">
                                    <p class="category_name" #categoryBloc (click)="sendVolumeId(category, 3)" id="{{category.id}}">
                                        {{category.name}}
                                    </p>
                                </div>
                            </accordion-group>
                            <accordion-group *ngIf="!categories.isopen">
                                <h5 (click)="sendVolumeId(categories, 2)" id="{{categories.id}}" accordion-heading>
                                    {{categories.name}}
                                </h5>
                                <div *ngFor="let category of categories.children">
                                    <p class="category_name" #categoryBloc (click)="sendVolumeId(category, 3)" id="{{category.id}}">
                                        {{category.name}}
                                    </p>
                                </div>
                            </accordion-group>
                        </div>
                    </accordion>
                </accordion-group>
                <accordion-group #entitiesBloc class="entities_blocs" *ngIf="!entities.isopen">
                    <h4 (click)="sendVolumeId(entities, 1)" id="{{entities.id}}" accordion-heading>
                        {{entities.name}}
                    </h4>
                    <accordion isAnimated="true">
                        <accordion-group *ngFor="let categories of entities.children">
                            <h5 (click)="sendVolumeId(categories, 2)" id="{{categories.id}}" accordion-heading>
                                {{categories.name}}
                            </h5>
                            <div *ngFor="let category of categories.children">
                                <p class="category_name" #categoryBloc (click)="sendVolumeId(category, 3)" id="{{category.id}}">
                                    {{category.name}}
                                </p>
                            </div>
                        </accordion-group>
                    </accordion>
                </accordion-group>
            </div>

        </accordion>
    </div>
    <div class="home volume_graphs col-xl-8 col-lg-12 col-md-12 col-sm-12">
        <app-graphs></app-graphs>
    </div>
</div>