
.card{
    background-color: transparent !important;
    border: none !important;
    text-align: left !important;    
}
.card-header{
    background-color: transparent !important;
    text-align: left !important;
}
@import "~bootstrap/scss/bootstrap";
body{
    background-color: #edf0f5;
    color: grey;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}