<div *ngIf="ongoingResearch" class="home volume_graphs">
    <h5>
        Evolution of the search volume for "
        <span>{{ongoingResearch}}</span>" from 2016 to nowadays.
    </h5>
    <p class="click_instruction">Click on a year to display its monthly research volumes.</p>
    <div class="container_graphs">
        <div class="volumes_container volumes_container_years col-xl-5 col-lg-12 col-md-12 col-sm-12">
            <h5>Yearly research volumes for "<span>{{ongoingResearch}}</span>"</h5>

            <div class="number_graph number_graph_bottom">
                <p>{{maxVolumesYears}}</p>
            </div>
            <div class="number_graph number_graph_center">
                <p>{{maxVolumesYears / 2}}
                    <span class="average"></span>
                </p>
            </div>
            <div class="number_graph number_graph_top">
                <p>0</p>
            </div>

            <div #volumes_year (click)="appendDetailedVolumes(volumes_year)" id="{{yearVolume.index}}"
                class="volumes" *ngFor="let yearVolume of volumes_sum_year" [style.height.px]="yearVolume.sum / 5000">
                <div class="overlay"></div>
                <p class="volumeYear">{{yearVolume.year}}</p>
            </div>

        </div>

        <div class="volumes_container volumes_container_per_year col-xl-6 col-lg-12 col-md-12 col-sm-12">
            <h5>Monthly research volumes for "<span>{{ongoingResearch}}</span>"</h5>

            <div class="number_graph_per_year number_graph_bottom">
                <p>{{maxVolumesPerYear}}K</p>
            </div>
            <div class="number_graph_per_year number_graph_center">
                <p>{{maxVolumesPerYear / 2}}K</p>
            </div>
            <div class="number_graph_per_year number_graph_top">
                <p>0</p>
            </div>

            <div class="volumes_container_per_months" *ngIf="volumes_per_year[indexToDisplayVolumes]">
                <div #volume class="volumes" (mouseenter)="displayAverage(volume, volume_year, volumeIdSelected)" [style.height.px]="volume_year.volume"
                    *ngFor="let volume_year of volumes_per_year[indexToDisplayVolumes].volumes_height">
                    <div class="overlay"></div>
                    <p>{{volume_year.month}}</p>
                </div>

            </div>
            <app-average-hover></app-average-hover>
        </div>
    </div>

    <div class="col-1"></div>
</div>