<div *ngIf="volumes_per_months && element" class="averageGraph" [style.left.px]="element.offsetLeft - 40 * 4">
    <div #closePopup class="closePopup" (mouseenter)="hoverPopup(closePopup)" (mouseleave)="removePopupStyle(closePopup)" (click)="flushGraph()">
        <p>X</p>
    </div>
    <div class="number_graph_per_year number_graph_bottom">
        <p>{{maxValue / 1000}}K</p>
    </div>
    <div class="number_graph_per_year number_graph_center">
        <p>{{maxValue / 1000 / 2}}K</p>
    </div>
    <div class="number_graph_per_year number_graph_top">
        <p>0</p>
    </div>
    <div #volume class="volumes" [style.height.px]="volume_per_month_selected.volume / 1000" *ngFor="let volume_per_month_selected of volumes_per_months">
        <div class="overlay"></div>
        <p>{{volume_per_month_selected.timespan}}</p>
    </div>
    <h6 *ngIf="volumes_per_months[0]">Evolution of search Volumes for
        <span>{{arrayMonths[volumes_per_months[0].month]}}</span>
    </h6>
</div>