.title{
    text-align: center;
}
.home{
    position: relative;
}
.home h5{
    margin: 20px 0;
}
.volumes_container_years{
    border-left: solid;
}
.volumes_container_per_year{
    position: absolute;
    border-right: solid;
    bottom: 0;
}
.volumes_container_years .volumes{
    background-color: green;
}
.volumes_container_per_year .volumes{
    background-color: red;
}
.volumes_container{
    transform: rotateX(180deg);
    display: inline-block;
    text-align: center;
    border-top: solid;
    border-width: 1px;
}
.volumes_container h3 {
    transform: rotateX(180deg);
}
.volumes{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
    padding: 5px;
    margin: 2px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: white;
    
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.overlay:hover{
    background: rgba(255,255,255, 0.2);
}
.volumes p{
    transform: rotateX(-180deg);
    margin: 0;
}
.volumes_to_display{
    display: none;
}
.number_graph_per_year{
    position: absolute;
    right: 0;
}
.number_graph{
    position: absolute;
    left: 0;
}
.number_graph_bottom{
    bottom: 0;
}
.number_graph_center{
    transform: translateY(-50%);
    top: 50%;
}
.number_graph_top{
    top: 0;
}
.number_graph p, .number_graph_per_year p{
    transform: rotateX(180deg);
    margin: 0;
}
.header{
    text-align: center;
    height: 50px;
}
.header_element{
    display: inline-block;
}
.signin, .signup{
    cursor: pointer;
}
.header_element p{
    margin: 0;
}