<div class="auth container">
    <div class="auth_children subscribe col-lg-12 col-md-12 col-sm-12">
        <h4>First connection ?</h4>
        <h5>Subscribe and start your journey !</h5>
        <div class="form_errors">
            <div *ngIf="(name.invalid && (name.touched || name.dirty)) || (surname.invalid && (surname.touched || surname.dirty))" class="form_error">
                <div *ngIf="(name.invalid && name.errors.pattern) || (surname.invalid && surname.errors.pattern)">
                    As Cyborgs don't exist yet, (questionnable, we agree), please use only Letters for your Name and Last Name.
                </div>
            </div>
            <div *ngIf="email.invalid" class="form_error">
                <div *ngIf="email.errors.email">
                    As contacting you will be a critical process for your experience here, we kindly demand that you provide a valid Email Address.
                </div>
            </div>
            <div *ngIf="password.invalid" class="form_error">
                <h6>Warning! Your attention is required here!</h6>
                <div *ngIf="password.invalid && password.errors.pattern">
                    <ul>
                        Your password must follow these prerequesites :
                        <li>
                            Contain at least
                            <b>one upper case letter</b>
                        </li>
                        <li>
                            Contain at least
                            <b>one lower case letter</b>
                        </li>
                        <li>
                            Contain at least
                            <b>one number</b>
                        </li>
                        <li>
                            Contain at least
                            <b>one special character</b>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="gender_specified.invalid && (gender_specified.touched || gender_specified.dirty)" class="form_error">
                <div *ngIf="gender_specified.invalid && gender_specified.errors.pattern">
                    Please use only letters to describe your gender.
                </div>
            </div>
            <div *ngIf="address.invalid && address.errors.pattern" class="form_error">
                <div *ngIf="address.invalid && address.errors.pattern">
                    Please enter a valid address.
                </div>
            </div>
            <div *ngIf="zip.invalid  && zip.errors.pattern" class="form_error">
                <div *ngIf="zip.invalid && zip.errors.pattern">
                    Zip Code must contain only numbers.
                </div>
            </div>
            <div *ngIf="city.invalid  && city.errors.pattern" class="form_error">
                <div *ngIf="city.invalid && city.errors.pattern">
                    Human ! Have you ever seen a city name with such characters ?!
                </div>
            </div>
            <div *ngIf="username.invalid && (username.touched || username.dirty)" class="form_error">
                <h6>Warning! Your attention is required here!</h6>
                <ul>
                    Your username must follow these prerequesites :
                    <li>
                        Contain at least
                        <b>one letter or ["-" and " ' "]</b>
                    </li>
                    <li>
                        Can't contain
                        <b>special characters</b>
                    </li>
                </ul>
            </div>
        </div>
        <form [formGroup]="authSubscribeForm" (ngSubmit)="onSubmit(1)">
            <div class="first_part col-md-5 col-sm-5">
                <div class="form-group identity col-md-12 col-sm-12">
                    <label class="">
                        First Name :
                        <input type="text" formControlName="name" class="form-control auth_child">
                    </label>
                </div>
                <div class="form-group">
                    <label class="">
                        Last Name :
                        <input type="text" formControlName="surname" class="form-control auth_child">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Email :
                        <input type="text" formControlName="email" class="form-control auth_child">
                    </label>

                </div>
                <div class="form-group">
                    <label>
                        Password :
                        <input type="password" formControlName="password" class="form-control auth_child">
                    </label>

                </div>
                <div class="form-group">
                    <label class="birthday_label">
                        Birthday :
                        <input type="date" formControlName="birthday" class="form-control auth_child">
                        <div *ngIf="tooltip_validator" class="hover_symbol" (mouseenter)="display_tooltip($event)" (mouseleave)="hide_tooltip($event)">
                            <p>?</p>
                        </div>
                        <div class="hover">{{formatted_message}}</div>
                    </label>
                </div>
            </div>
            <div class="mid_part col-md-1 col-sm-1"></div>
            <div class="second_part col-md-5 col-sm-5">
                <div class="form-group">
                    <label>
                        Gender :
                        <select #gender_value type="text" formControlName="gender" class="form-control auth_child" (change)="specifyGender($event)">
                            <option value="1">
                                Female
                            </option>
                            <option value="2">
                                Male
                            </option>
                            <option value="3">
                                Other (Please Specify)
                            </option>
                            <option value="4">
                                I prefer not to say.
                            </option>
                        </select>
                        <div *ngIf="gender_validator == 1">
                            <label>
                                Please specify your gender :
                                <input type="text" formControlName="gender_specified" class="form-control auth_child">
                            </label>
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Address :
                        <input type="text" formControlName="address" class="form-control auth_child">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Zip Code :
                        <input type="text" formControlName="zip" class="form-control auth_child">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        City :
                        <input type="text" formControlName="city" class="form-control auth_child">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Username :
                        <input type="text" formControlName="username" class="form-control auth_child">
                    </label>
                </div>
            </div>
            <button type="submit" [disabled]="!authSubscribeForm.valid" class="btn btn-primary auth_submit">Submit</button>
        </form>
        <div class="to_login">
            <p>
                Already have an Account ?
                <a routerLink="/" *ngIf="!authService.isLoggedIn" routerLinkActive="active">Sign in</a>
            </p>
        </div>
    </div>
</div>